body {
  background-color: #FDE8D3;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: 'Shadows Into Light', cursive;
  font-size: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
}

#card {
  border-radius: 15px;
  background: #FAF6D8;
  padding: 20px;
  margin-top:30px;
  width: 200px;
  height: 150px;

  /* width: 250px; */
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 3px 0 rgba(0, 0, 0, 0.08);
  text-align: center;

  font-family: 'Lato', sans-serif;
}

.error {
  display: none;
  font-size: 22px;
  color: black;
  text-align: center;
}
