body {
  background-color: #FDE8D3;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: 'Shadows Into Light', cursive;
  font-size: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
}
