body {
  background-color: #FDE8D3;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: 'Shadows Into Light', cursive;
  font-size: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
}

#card {
  border-radius: 15px;
  background: #FAF6D8;
  padding: 20px;
  margin-top:30px;
  width: 500px;
  height: 250px;

  /* width: 250px; */
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 3px 0 rgba(0, 0, 0, 0.08);
  text-align: center;

  font-family: 'Lato', sans-serif;
}

.error {
  display: none;
  font-size: 22px;
  color: black;
  text-align: center;
}

#textBox {
    height: 100px;
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;         /* Opera/IE 8+ */
}


/*
This criterion is linked to a Learning Outcome Functionality - Mobile responsive
Must be mobile responsive (at least one @media rule where images are not skewed, grid responds appropriately)
*/
@media screen and (max-width: 557px) {
    #card {
      width: 90%;
      height: 45%;
      margin-right:10%;
    }
    #header {
        width: 90%;
        /* display: inline-block; */
        height: 100%;
        vertical-align: middle;
        /* horizontal-align: middle; */
        /* padding: 10%  */
        padding-top:20%;
    }
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      /* width: 50%; */
    }
}

/* .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  flex-wrap: no-wrap;
} */
